* {
  margin: 0;
  padding: 0;
}

body {
min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.cell {
  font-size: 3rem;
}